In [1]:
import pandas as pd

In [2]:
# Read each dataset using Pandas
file1 = "Resources/JC-201812-citibike-tripdata.csv"
file2 = "Resources/JC-201811-citibike-tripdata.csv"
file3 = "Resources/JC-201810-citibike-tripdata.csv"

df_dec = pd.read_csv(file1)
df_nov = pd.read_csv(file2)
df_oct = pd.read_csv(file3)

In [ ]:
df_dec.head()

In [ ]:
len(df_dec.index)

In [ ]:
df_nov.head()

In [ ]:
len(df_nov.index)

In [ ]:
df_oct.head()

In [ ]:
len(df_oct.index)

In [3]:
# Merge the October and November datasets
merged_df1 = df_oct.append(df_nov)
merged_df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,2
1,122,2018-10-01 08:50:05.4340,2018-10-01 08:52:08.2250,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29654,Subscriber,1973,1
2,211,2018-10-01 09:03:17.0640,2018-10-01 09:06:48.0940,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,33621,Subscriber,1958,1
3,342,2018-10-01 10:13:07.0090,2018-10-01 10:18:49.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26266,Subscriber,1982,1
4,2976,2018-10-01 10:45:14.2800,2018-10-01 11:34:51.2610,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,27083,Customer,1969,0

In [ ]:
len(merged_df1.index)

In [4]:
# Merge the existing merged dataset with the December data to make the final set of data
df = merged_df1.append(df_dec)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,2
1,122,2018-10-01 08:50:05.4340,2018-10-01 08:52:08.2250,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29654,Subscriber,1973,1
2,211,2018-10-01 09:03:17.0640,2018-10-01 09:06:48.0940,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,33621,Subscriber,1958,1
3,342,2018-10-01 10:13:07.0090,2018-10-01 10:18:49.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26266,Subscriber,1982,1
4,2976,2018-10-01 10:45:14.2800,2018-10-01 11:34:51.2610,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,27083,Customer,1969,0

In [ ]:
len(df.index)

In [5]:
# 0, 1, and 2 are unhelpful indicators for gender so I changed the values to reflect the actual gender (as detailed in the documentation).
df.loc[df.gender == 0, 'gender'] = "Unknown"
df.loc[df.gender == 1, 'gender'] = "Male"
df.loc[df.gender == 2, 'gender'] = "Female"

df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,Female
1,122,2018-10-01 08:50:05.4340,2018-10-01 08:52:08.2250,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29654,Subscriber,1973,Male
2,211,2018-10-01 09:03:17.0640,2018-10-01 09:06:48.0940,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,33621,Subscriber,1958,Male
3,342,2018-10-01 10:13:07.0090,2018-10-01 10:18:49.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26266,Subscriber,1982,Male
4,2976,2018-10-01 10:45:14.2800,2018-10-01 11:34:51.2610,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,27083,Customer,1969,Unknown

In [6]:
# I figured that having columns containing tripduration time conversions could help to make things more readable in a visualization.  So I added those to the dataset.
df["tripduration(minutes)"] = df['tripduration']/60
df["tripduration(hours)"] = df['tripduration']/3600

df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripduration(minutes),tripduration(hours)
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,Female,2.533333,0.042222
1,122,2018-10-01 08:50:05.4340,2018-10-01 08:52:08.2250,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29654,Subscriber,1973,Male,2.033333,0.033889
2,211,2018-10-01 09:03:17.0640,2018-10-01 09:06:48.0940,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,33621,Subscriber,1958,Male,3.516667,0.058611
3,342,2018-10-01 10:13:07.0090,2018-10-01 10:18:49.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26266,Subscriber,1982,Male,5.700000,0.095000
4,2976,2018-10-01 10:45:14.2800,2018-10-01 11:34:51.2610,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,27083,Customer,1969,Unknown,49.600000,0.826667

In [8]:
# I added a record id field to uniquely identify each record in the dataset.  I then reordered the dataset to be easier to read.
df["record_id"] = range(0, len(df.index))

df = df[['record_id', 'starttime', 'stoptime', 'tripduration', 'tripduration(minutes)', 
         'tripduration(hours)', 'bikeid', 'start station id', 'start station name', 
         'start station latitude', 'start station longitude', 'end station id', 'end station name', 
         'end station latitude', 'end station longitude', 'usertype', 'birth year', 'gender']]

df.head()

,record_id,starttime,stoptime,tripduration,tripduration(minutes),tripduration(hours),bikeid,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype,birth year,gender
0,0,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,152,2.533333,0.042222,15302,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,Subscriber,1971,Female
1,1,2018-10-01 08:50:05.4340,2018-10-01 08:52:08.2250,122,2.033333,0.033889,29654,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,Subscriber,1973,Male
2,2,2018-10-01 09:03:17.0640,2018-10-01 09:06:48.0940,211,3.516667,0.058611,33621,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,Subscriber,1958,Male
3,3,2018-10-01 10:13:07.0090,2018-10-01 10:18:49.8960,342,5.700000,0.095000,26266,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,Subscriber,1982,Male
4,4,2018-10-01 10:45:14.2800,2018-10-01 11:34:51.2610,2976,49.600000,0.826667,27083,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,Customer,1969,Unknown

In [10]:
# Take the dataset and save it to a new csv file.
df.to_csv("Resources/CitiBike-2018-Q4-TripData.csv", index=False, header=True)